<!DOCTYPE html>
<html>
  <head>
    <title>DiscordButWorse</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta property="og:title" content="Discord but Worse" />
    <meta property='og:image' content="<%= image_url('discord_but_worse.gif') %>"/>
    <meta property="og:description"
        content="A clone of the browser version of Discord. Made with a rails backend and a react / redux frontend."
    />
    <meta property="og:url"
        content="https://discord-but-worse.herokuapp.com/#/"
    />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
